## 构建产物
dist/
build/
*.tsbuildinfo

## 依赖
node_modules/

## 编辑器
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

## 操作系统
.DS_Store
Thumbs.db

# Rust / Tauri
src-tauri/target/

## 参考项目
TTime_clone/

## 便携式发布产物
dist-portable/

## 安装包构建产物
dist-installer/

## 日志
*.log
npm-debug.log*

## 运行时数据
/config/
/db/
/models/voice/
